input:disabled {
    font-size: larger;
    color: 	#606060;
}

label {
    font-size: large;
}

h4 {
    margin: auto;
    width: 900px;
    display: flex; 
}

.example-form-field1 {
    width: 1100px;
    justify-content: center;
    display: block;
}

.example-form-field {
    // width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}


.div.mat-form-field{
    width: 500px;
}

